# Maven
target/
*.war
*.ear
*.zip
*.tar.gz
*.rar
dependency-reduced-pom.xml

# IDEs and Editors
.idea/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs and databases
*.log
*.sqlite
velocity.toml
config.toml
config.yml

# Do not ignore default config resources inside plugin source folders
!**/src/main/resources/config.yml
!**/src/main/resources/config.toml
